<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to keep Growing</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, nam.</p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel modi porro
        rem laudantium itaque iusto maiores perspiciatis nobis omnis tempora!
      </p>
      <a class="link-arrow" href="#">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="/Images/easy@2x.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply fast websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reiciendis
        veniam vitae nemo explicabo perspiciatis fugiat, nisi esse. Velit,
        adipisci?
      </p>
      <a class="link-arrow" href="#">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/fast.webp 1x, images/fast@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/fast.jpg 1x, images/fast@2x.jpg 2x"
      />
      <img class="feature__image" src="/Images/fast@2x.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">WordPress Made Easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
        debitis labore architecto quaerat quis magni mollitia deserunt numquam
        amet at!
      </p>
      <a class="link-arrow" href="#">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="/Images/wordpress.webp 1x, /Images/wordpress@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="/Images/wordpress.jpg 1x, /Images/wordpress@2x.jpg 2x"
      />
      <img class="feature__image" src="/Images/wordpress@2x.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">24/7 Expert Support</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis maiores
        nemo dolores nam voluptatibus corporis rerum quaerat quos sequi
        similique?
      </p>
      <a class="link-arrow" href="#">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="/Images/support.webp 1x, /Images/support@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="/Images/support.jpg 1x, /Images/support@2x.jpg 2x"
      />
      <img class="feature__image" src="/Images/support@2x.jpg" alt="" />
    </picture>
  </article>
</section>
